.all{
    background-color: #f2f2f2;
    display: flex;
    border: 1px solid black;
}

.column{
    display: inline-block;
    justify-content: center;
    padding: 40px;
}
h1{
    margin-left: 37px;
}

ul li {
    list-style: none;
	color: #000000;
	font-size: 17px;
    margin-left: 0px;
}
.bandeira {
    display:flex;
    gap: 5px;
}
.card { 
    width: 50px;
    height: 27px;
    padding: 10px;
}
.text{
    margin-bottom: 10px;
}
a{
    text-decoration: none;
    margin-left: 34px;
    color: #000000;
    font-size: 17px;
}
.icon {
    width: auto;
    height: 30px;
    margin: 10px;
}

