.header {
    background-color: #139df2;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.logo {
    width: 100px;
    align-items: center;
}

.icon {
    display: inline;
    row-gap: 10px;
}

.barraPesquisa {
    width: 400px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    margin-right: 0px
}
.pesquisa{
    width: 30px;
    height: 30px;
    margin-top: 17px;
}

.icones {
    display: flex;
    align-items: center;
    margin-top: 10px;
}