.nav {
    background-color: #0d5b8c;
    padding: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.list{
    list-style: none;
    display: flex;
    gap: 35px;
}
.link {
    color: white;
    font-weight: bold;
}
.link a {
    color: inherit;
    text-decoration: none;
}
.link:hover{
    color: #139df2;
}