.container {
    padding: 10px;
}

.containerProdutos {
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr;
    margin: 50px;
    gap: 50px;
}   

.imgProduto {
    border-radius: 20px 0 0 20px;
}

.card { 
    width: 500px;
    height: 220px;
    box-shadow: 10px 5px 30px 0;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    gap: 10px;
}

.card h2{
    font-size: 18px;
    text-align: justify;
}

.info {
    display: flex;
    gap: 10px;
}

.info h4 {
    border: 2px solid black;
    background-color: #139df2;
    padding: 5px;
}