.container {
    padding: 10px;
}

.containerProdutos {
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr;
    margin: 50px;
    gap: 50px;
}   

.imgProduto {
    border-radius: 20px 0 0 20px;
}

.card { 
    width: 500px;
    height: 240px;
    box-shadow: 10px 5px 30px 0;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    gap: 10px;
}

.card h2{
    font-size: 18px;
}

.info {
    display: flex;
    gap: 10px;
}

.info h4 {
    border: 2px solid black;
    padding: 5px;
}

.btn {
    display: inline;
    justify-content: center;
}

.btn button {
    padding: 10px;
    width: 100%;
    border: 2px solid #139df2;
    color: #139df2;
    font-size: 15px;
    border-radius: 0 0 20px 0;
    font-weight: bold;
    transition-duration: 0.5s;
}

.btn button:hover {
    cursor: pointer;
    background-color: #139df2;
    color: #fff;
}