.empresaContainer{
    display: block;
    justify-content: center;
    text-align: center;
}

.empresaContent{
    display: flex;
    justify-content: center;
    margin: 30px;
    gap: 50px;
}

.empresaBloco {
    background-color: #0d5b8c;
    box-shadow: 0 0 10px 1px;
    border-radius: 10px;
    width: 40%;
    height: 400px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    color: #fff;
}

.empresaBloco h2 {
    border-bottom: 10px solid #fff;
    width: 100%;
    margin: 0;
    border-radius: 10px;
    margin-top: 15px;
}

.empresaBloco p {
    font-size: 20px;
    font-weight: bold;
}

.empresaBloco img {
    width: 150px;
    border: 5px solid #fff;
    border-radius: 50%;
}